extends layout

block content
	h1 ToDO
	div
		input#newTask(type="text" name="")
		input(type="button" value="Add" onclick="addTask(newTask);")
	div
		each task in taskList
			-id = task.id
			div#id
				input.task#id(type="checkbox", checked=task.isDone)
				label(for="task{task.id}") task.title
