<!DOCTYPE html>
<html>
<head>
    <title>Login</title>
    <link rel="shortcut icon" href="/static/images/favicon.ico" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Handlee|Roboto|Shadows+Into+Light" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
    <link rel="stylesheet" href="/static/stylesheets/login.css">
    <script src="/static/lib/bootstrap/js/jquery.min.js"></script>
</head>
<body>
    <div id="login_box">
        <div id="login_instructions" >
            <img src="/static/images/bg.jpeg" style="width:150px" style="height:150px">
            <p>LOGIN</p>
        </div>
        <form id="login_form" onsubmit="return false;">
            <div class = "input_container">
                <input type="text" placeholder="Group Name" id="login_group_name" required/>
                <i class="fas fa-users"></i>
            </div>
            <div class = "input_container">
                <input type="password" placeholder="Password" id="login_pass" required/>
                <i class="fas fa-key"></i>
            </div>
            <input type="submit" value="LOGIN" onclick="login();"/>
        </form>
        <div id="no_account">
            <p>Don't have an Account?</p>
            <a href="/signup">SIGNUP!<HEADER></HEADER></a>
    </div>
    <script>
        function login() {
            var group_name = login_group_name.value;
            var password = login_pass.value;
            if(!group_name || !password) {
                // alert input
                return false;
            }
            // loading on
            $.ajax({
                method: 'POST',
                url: '/api/login',
                data: {
                    group_name,
                    password
                }
            })
            .done(function (Data) {
                console.log(Data);
                // loading off
                // redirect /
            })
            .fail(function (err) {
                console.log(err.responseJSON.message);
                // loading off
                // alert server error
            })
        }
    </script>
</body>
</html>
