<!doctype html>

<head>
    <title>Login Page</title>
    <link rel="stylesheet" type="text/css" href="main.css">
</head>

<body>
    <div class="center">
        <h1>Login</h1>
        <form action="localhost:3000/api/login" method="post">
            <input type="text" name="username" placeholder="Username" required="required" id="loginUsername" />
            <input type="password" name="password" placeholder="Password" required="required" id="loginPassword" />
            <input type="submit" class="btn btn-primary btn-block btn-large" id="submitBtn" />
        </form>
        <script src="index.js"></script>
    </div>
    <script>
        function login() {
                return;
                var username = loginUsername.value;
                var password = loginPassword.value;
                var users = localStorage.getItem("users");
                var user = users[username];
                if (user) {
                    if (user.password == password) {
                        window.open('index.html');
                    }
                    else {
                        alert("Wrong password!");
                    }
                }
                else {
                    alert("Invalid username!");
                }
            }

</script>
</body>
